/* Import "PT Sans Narrow" font from Google fonts */
/*@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);*/


/*
---------------------------------------------------------------
  Note that styles you apply to the main menu items are inherited by the sub menus items too.
  If you'd like to avoid this, you could use child selectors (not supported by IE6) - for example:
  .sm-style > li > a { ... } instead of .sm-style a { ... }
---------------------------------------------------------------*/


/* Menu box
===================*/

.sm-style {

}
.sm-style-vertical {

}
.sm-style ul {
    border:1px solid #a9a9a9;
    padding:7px 0;
    background:#fff;
    -moz-box-shadow:0 1px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow:0 5px 12px rgba(0,0,0,0.3);
    box-shadow:0 5px 12px rgba(0,0,0,0.3);
}
/* for vertical main menu subs and 2+ level horizontal main menu subs round all corners */
.sm-style-vertical ul,
.sm-style ul ul {

}


/* Menu items
===================*/

.sm-style a {
    padding:13px 24px;
    color:#c60023;
    font-size:14px;
    line-height:23px;
    /*font-weight:bold;*/
    text-decoration:none;
    text-transform: uppercase;
}
.sm-style a:hover, .sm-style a:focus, .sm-style a:active,
.sm-style a.highlighted {
    background:#bbb;
    color:#fff;
}
.sm-style-vertical a {
    background: none repeat scroll 0 0 #efefef;
    padding: 8px 30px 8px 15px;
}
.sm-style ul a {
    padding: 5px 20px 5px 15px;
    background:transparent;
    color: #c60023;
    font-size: 14px;
    text-shadow:none;
}
.sm-style ul a:hover, .sm-style ul a:focus, .sm-style ul a:active,
.sm-style ul a.highlighted {
    background:#bbb;
    color:#fff;
    /*text-shadow:0 1px 0 rgba(0,0,0,0.3);*/
}
/* current items - add the class manually to some item or check the "markCurrentItem" script option */
.sm-style a.current, .sm-style a.current:hover, .sm-style a.current:focus, .sm-style a.current:active,
.sm-style ul a.current, .sm-style ul a.current:hover, .sm-style ul a.current:focus, .sm-style ul a.current:active {
    background:#bbb;
    color:#fff;
    /*text-shadow:0 1px 0 rgba(0,0,0,0.3);*/
}
/* round the left corners of the first item for horizontal main menu */
.sm-style > li:first-child > a {

}
/* round the corners of the first and last items for vertical main menu */
.sm-style-vertical > li:first-child > a {

}
.sm-style-vertical > li:last-child > a {

}
.sm-style a.has-submenu {

}


/* Sub menu indicators
===================*/

.sm-style a span.sub-arrow {
    position:absolute;
    bottom:2px;
    left:50%;
    margin-left:-5px;
    /* we will use one-side border to create a triangle so that we don't use a real background image, of course, you can use a real image if you like too */
    width:0;
    height:0;
    overflow:hidden;
    border-width:5px; /* tweak size of the arrow */
    border-style:solid dashed dashed dashed;
    border-color:#a4cde1 transparent transparent transparent;
}
.sm-style-vertical a span.sub-arrow,
.sm-style ul a span.sub-arrow {
    bottom:auto;
    top:50%;
    margin-top:-5px;
    right:15px;
    left:auto;
    margin-left:0;
    border-style:dashed dashed dashed solid;
    border-color:transparent transparent transparent #888;
}


/* Items separators
===================*/

.sm-style li {
    border-left:1px solid #1a8bb9;
}
.sm-style li:first-child,
.sm-style-vertical li,
.sm-style ul li {
    border-left:0;
    border-bottom: 3px solid #fff;
}


/* Scrolling arrows containers for tall sub menus - test sub menu: "Sub test" -> "more..." -> "more..." in the default download package
===================*/

.sm-style span.scroll-up, .sm-style span.scroll-down {
    position:absolute;
    display:none;
    visibility:hidden;
    overflow:hidden;
    background:#ffffff;
    height:20px;
    /* width and position will be automatically set by the script */
}
.sm-style span.scroll-up-arrow, .sm-style span.scroll-down-arrow {
    position:absolute;
    top:-2px;
    left:50%;
    margin-left:-8px;
    /* we will use one-side border to create a triangle so that we don't use a real background image, of course, you can use a real image if you like too */
    width:0;
    height:0;
    overflow:hidden;
    border-width:8px; /* tweak size of the arrow */
    border-style:dashed dashed solid dashed;
    border-color:transparent transparent #247eab transparent;
}
.sm-style span.scroll-down-arrow {
    top:6px;
    border-style:solid dashed dashed dashed;
    border-color:#247eab transparent transparent transparent;
}



/*
---------------------------------------------------------------
  Responsiveness
  These will make the sub menus collapsible when the screen width is too small.
---------------------------------------------------------------*/


/* decrease horizontal main menu items left/right padding to avoid wrapping */
@media screen and (max-width: 850px) {
    .sm-style:not(.sm-style-vertical) > li > a {
        padding-left:18px;
        padding-right:18px;
    }
}
@media screen and (max-width: 750px) {
    .sm-style:not(.sm-style-vertical) > li > a {
        padding-left:10px;
        padding-right:10px;
    }
}

@media screen and (max-width: 767px) {

    /* The following will make the sub menus collapsible for small screen devices (it's not recommended editing these) */
    ul.sm-style{width:auto !important;}
    ul.sm-style ul{display:none;position:static !important;top:auto !important;left:auto !important;margin-left:0 !important;margin-top:0 !important;width:auto !important;min-width:0 !important;max-width:none !important;}
    ul.sm-style>li{float:none;}
    ul.sm-style>li>a,ul.sm-style ul.sm-nowrap>li>a{white-space:normal;}
    ul.sm-style iframe{display:none;}

    /* Uncomment this rule to disable completely the sub menus for small screen devices */
    /*.sm-style ul, .sm-style span.sub-arrow, .sm-style iframe {
            display:none !important;
    }*/


    /* Menu box
    ===================*/

    .sm-style {
        background:transparent;
/*        -moz-box-shadow:0 1px 4px rgba(0,0,0,0.3);
        -webkit-box-shadow:0 1px 4px rgba(0,0,0,0.3);
        box-shadow:0 1px 4px rgba(0,0,0,0.3);*/
    }
    .sm-style ul {
        border:0;
        padding:0;
        background:#fff;
        -moz-border-radius:0;
        -webkit-border-radius:0;
        border-radius:0;
        -moz-box-shadow:none;
        -webkit-box-shadow:none;
        box-shadow:none;
    }
    .sm-style ul ul {
        /* darken the background of the 2+ level sub menus and remove border rounding */
        background:rgba(100,100,100,0.1);
        -moz-border-radius:0;
        -webkit-border-radius:0;
        border-radius:0;
    }


    /* Menu items
    ===================*/

    .sm-style a {
        padding:10px 5px 10px 28px !important; /* add some additional left padding to make room for the sub indicator */
    }
    .sm-style ul a {
        text-shadow:none !important;
    }
    .sm-style a.current {
        background:#bbb !important;
        color:#fff !important;
    }
    /* add some text indentation for the 2+ level sub menu items */
    .sm-style ul a {
        border-left:8px solid transparent;
    }
    .sm-style ul ul a {
        border-left:16px solid transparent;
    }
    .sm-style ul ul ul a {
        border-left:24px solid transparent;
    }
    .sm-style ul ul ul ul a {
        border-left:32px solid transparent;
    }
    .sm-style ul ul ul ul ul a {
        border-left:40px solid transparent;
    }
    /* round the corners of the first and last items */
    .sm-style > li:first-child > a {
        -moz-border-radius:8px 8px 0 0;
        -webkit-border-radius:8px 8px 0 0;
        border-radius:8px 8px 0 0;
    }
    /* presume we have 4 levels max */
    .sm-style > li:last-child > a,
    .sm-style > li:last-child > ul > li:last-child > a,
    .sm-style > li:last-child > ul > li:last-child > ul > li:last-child > a,
    .sm-style > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a,
    .sm-style > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a,
    .sm-style > li:last-child > ul,
    .sm-style > li:last-child > ul > li:last-child > ul,
    .sm-style > li:last-child > ul > li:last-child > ul > li:last-child > ul,
    .sm-style > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul,
    .sm-style > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul {
        -moz-border-radius:0 0 8px 8px;
        -webkit-border-radius:0 0 8px 8px;
        border-radius:0 0 8px 8px;
    }
    /* highlighted items, don't need rounding since their sub is open */
    .sm-style > li:last-child > a.highlighted,
    .sm-style > li:last-child > ul > li:last-child > a.highlighted,
    .sm-style > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted,
    .sm-style > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted,
    .sm-style > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted {
        -moz-border-radius:0;
        -webkit-border-radius:0;
        border-radius:0;
    }


    /* Sub menu indicators
    ===================*/

    .sm-style a span.sub-arrow,
    .sm-style ul a span.sub-arrow {
        top:50%;
        margin-top:-9px;
        right:auto;
        left:6px;
        margin-left:0;
        width:17px;
        height:17px;
        font:bold 16px/16px monospace !important;
        text-align:center;
        border:0;
        text-shadow:none;
        background:rgba(0,0,0,0.1);
        -moz-border-radius:100px;
        -webkit-border-radius:100px;
        border-radius:100px;
    }
    /* Hide sub indicator "+" when item is expanded - we enable the item link when it's expanded */
    .sm-style a.highlighted span.sub-arrow {
        display:none !important;
    }


    /* Items separators
    ===================*/

    .sm-style li {
        border-left:0;
    }
    .sm-style ul li {
        border-top:1px solid rgba(0,0,0,0.05);
    }
    .sm-style ul li:first-child {
        border-top:0;
    }

}